body{
 
}

.titulo-principal{
	text-align: center;
	color: green;
}

.imagem{
	margin-left: 50px;
	width: 90%;
}
.DESTAQUE{
	text-align: center;
}
.gameplay{
	text-align: center;
	
     
}
.ajuste-video{
	text-align: center;
}