body{
 background-color: aquamarine;
}

.titulo-principal{
	text-align: center;
	color: green;
}

.imagem{
	margin-left: 65px;
	width: 90%;
	
}
.DESTAQUE{
	text-align: center;
}
.gameplay{
	text-align: center;
	
     
}
.ajuste-video{
	text-align: center;
}