body{
 
}

.titulo-principal{
	text-align: center;
	color: green;
}

.imagem{
    text-align: center;
	width: 70%;
}
.DESTAQUE{
	text-align: center;
}
.ajuste-video{
	text-align: center;
}